gateways:
  enabled: true

pilot:
  enabled: true

global:
  hub: docker.io/istio
  tag: "1.22.0" # adjust if needed

gateway:
  enabled: true

service:
  type: NodePort
  ports:
    - name: http2
      port: 80
      targetPort: 8080
      nodePort: 30080
    - name: https
      port: 443
      targetPort: 8443
      # nodePort: 30443
