apiVersion: networking.istio.io/v1
kind: Gateway
metadata:
  name: app-gateway
  namespace: istio-system
spec:
  selector:
    app: my-app
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "api.app.com"
